/*Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Nova+Flat&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    min-width: 375px;
    min-height: 800px;
    display: grid;
    min-width: 375px;
    width: 100%;
    max-width: 100%;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        'header header'
        'banner-slider banner-slider'
        'about about'
        'platillo platillo'
        'delivery delivery'
        'clientes clientes'
        'login login'
        'footer footer';
}

body {
    font-family: 'Nova Flat', cursive;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: header;
    position: fixed;
    z-index: 100;
}

nav.sticky {
    height: 80px;
    background-color: #dfda9c;
}

nav {
    margin-top: 2rem;
    height: 80px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 120px;
    background-color: #eeedde;
    transition: all 0.3s;
}

nav img {
    width: 130px;
    height: auto;
    margin-left: 4rem;
}

.bar-btn {
    margin-right: 2rem;
    font-size: 35px;
    color: black;
    cursor: pointer;
}

.nav-menu {
    border-radius: 50px;
    position: fixed;
    width: 50%;
    right: 0;
    height: 0vh;
    top: 8rem;
    background-color: #eeedde;
    text-align: center;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 12px 0;
    transition: all 0.5s;
}

.nav-menu li a {
    color: rgba(0, 0, 0, 0.356);
    font-size: 12px;
    font-weight: 600;
    transition: 0.5s;
}

.nav-menu li a:hover {
    color: rgba(0, 0, 0, 0.664);
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 38vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/*Banner Slider*/

/*Slide 1*/

.banner-slider {
    grid-area: banner-slider;
    width: 100%;
    height: 50rem;
    display: flex;
    width: 200%;
    transition: all 0.5s;
    text-align: center;
}

.slide1-banner,
.slide2-banner,
.slide1-chef,
.slide3-cliente {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 150px;
}

.slide1-banner {
    background-image: url('../img/banner_d.jpg');
    background-size: cover;
    background-position: center;
}

.slide1-banner .texto-slide1 {
    color: white;
    font-size: 35px;
}

.boton-sh {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}

.a-sh:hover {
    background-color: #e0ddaa;
}

.a-sh {
    color: black;
    font-size: 25px;
    border-radius: 100px;
    padding: 20px 50px;
    margin-bottom: 5rem;
    background-color: #eeedde;
    transition: 0.5s;
}

.slide1-banner p {
    margin-top: 2rem;
}

/*Slide 2*/

.slide2-banner {
    background-image: url('../img/form_banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    padding-top: 52rem;
}

.form-banner-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
    background-color: #e0ddaa;
    padding: 50px 0px;
    border-radius: 90px;
}

.form-banner h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.form-banner input {
    text-align: center;
    width: 90%;
    font-size: 25px;
    margin-bottom: 1rem;
    padding: 15px 0px;
    border: none;
    border-radius: 50px;
}

.form-banner button {
    width: 70%;
    padding: 10px 0px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: #cac57e;
    cursor: pointer;
}

.aviso {
    padding: 30px;
    display: none
}

.aviso h2 {
    font-size: 30px;
}
.aviso p {
    margin-top: 2rem;
    font-size: 25px;
}

#codigo {
    background-color: #a09b5c;
    padding: 10px;
    border-radius: 50px;
}

/*Seccion de Inicios de Sesion*/

.login {
    grid-area: login;
    height: 50rem;
    display: flex;
    width: 200%;
    transition: all 0.5s;
    margin-left: 0%;
}
.form-banner-slider {
    width: 90%;
    margin-bottom: 4rem;
}
.form-banner h2 {
    font-size: 30px;
}
.login .form-banner input {
    width: 90%;
    height: 40px;
}
.login .form-banner button {
    margin-bottom: 1rem;
}
.login .slide3-cliente .a-sh {
    margin-bottom: 2rem;
}

.login .form-banner p {
    font-size: 20px;
}
.slide2-menu {
    display: flex;
    flex-direction: row;
    width: 103%;
    height: 100%;
}

.Clientes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.Clientes h2 {
    margin-bottom: 2rem;
    font-size: 35px;
    font-weight: 300;
}

.Chefs p,
.Clientes p {
    width: 40%;
    font-size: 35px;
    padding: 20px 0;
    border: 2px solid #ffffff;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: 0.4s;
}

.Chefs p:hover,
.Clientes p:hover {
    background-color: #ffffff6c;
    color: rgba(0, 0, 0, 0.623);
}

.Chefs {
    background-image: url('../img/administradores.jpg');
    background-size: cover;
    background-position: center;
}

.Clientes {
    background-image: url('../img/clientes.jpg');
    background-size: cover;
    background-position: center;
}

.slide3-cliente {
    width: 100%;
    flex-direction: column-reverse;
    background-image: url('../img/clientes_login.jpg');
    background-size: cover;
    background-position: center;
}

/*Seccion About*/

.about-me {
    grid-area: about;
    height: 50rem;
    display: flex;
    flex-direction: column;
    background-color: #eeedde;
}

.about1,
.about2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.about2 {
    flex-direction: column-reverse;
}

.img-about {
    width: 100%;
    height: 50%;
}
@keyframes transImg {
    0% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes transImg2 {
    0% {
        transform: translateX(600px);
    }
    100% {
        transform: translateX(0);
    }
}
.animateImg {
    animation: transImg 2s;
}
.animateImg2 {
    animation: transImg2 2s;
}
.texto-about1 {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 25px;
    text-align: justify;
    padding: 10px;
    margin: 0 1rem;
    margin-top: 1rem;
}

.texto-about2 {
    height: 50%;
    font-size: 23px;
    padding: 10px;
    align-self: center;
    text-align: center;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#about_img {
    width: 100%;
    height: 100%;
}

/*Seccion de PLatillos Destacados*/

.platillos {
    height: 50rem;
    width: 100%;
    grid-area: platillo;
    background-image: url('../img/parrilla.jpg');
    background-position: center;
    background-size: cover;
}

.platillos-content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.platillos-content h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 4rem;
}

.line {
    margin: 1rem 0;
    width: 300px;
    height: 10px;
    background-color: #e0ddaa;
    border-radius: 20px;
}

.carrusel-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 60%;
    overflow: hidden;
}

.carrusel {
    width: 510%;
    display: flex;
    margin-left: -102.9%;
}

.item-c {
    width: 100%;
    height: 30rem;
    background-color: #eeedde;
    margin: 0 1%;
    padding: 15px;
    border-radius: 50px;
}

.item-c h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
}

.img-contenedor {
    height: 22rem;
    width: 100%;
}

.img-contenedor img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.flecha-iz,
.flecha-de {
    font-size: 60px;
    padding: 30px 10px;
    background-color: #eeedde;
    position: absolute;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.flecha-iz {
    left: 5px;
    bottom: 200px;
}

.flecha-de {
    right: 5px;
    bottom: 200px;
}

.flecha-de:hover,
.flecha-iz:hover {
    background-color: #cac57e;
}

/*Seccion del Delivery*/

.delivery {
    grid-area: delivery;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eeedde;
    text-align: center;
}

.img-delivery,
.delivery-text {
    width: 100%;
    height: 50%;
}
.img-delivery img {
    width: 100%;
    height: 100%;
}

.delivery-text h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.line2 {
    height: 10px;
    background-color: #cac57e;
    width: 70%;
    border-radius: 50px;
    margin-bottom: 4rem;
}

.delivery-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 1rem;
}

.delivery-text p {
    font-size: 35px;
}

/*Sección de Clientes*/

.clientes {
    grid-area: clientes;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../img/opiniones.jpg');
    background-size: cover;
    background-position: center;
    padding: 15px 0;
}

.cliente {
    text-align: center;
    width: 100%;
    color: white;
}

.cliente h2 {
    font-size: 25px;
    margin-top: 0.5rem;
}

.cliente p {
    font-size: 20px;
    margin: 0.5rem;
}

.redonda {
    width: 130px;
    border-radius: 300px;
}

/*Footer Sección*/

footer {
    grid-area: footer;
    height: 50rem;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer-img {
    display: none;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.logo-img {
    background-color: #141e27;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img img {
    width: 85%;
}

.contactos {
    height: 30%;
    background-color: #203239;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactos-logo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.74);
    padding: 0 1rem;
    justify-content: center;
}

.contactos-logo i {
    margin-right: 10px;
}

.copyrigth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: #304c57;
    color: rgba(255, 255, 255, 0.747);
    font-size: 14px;
    text-align: center;
}

.blue {
    color: blue;
    cursor: pointer;
}

#form-register-chef,
#form-registrar-cliente {
    display: none;
}

/*Responsive*/

@media screen and (min-width: 375px) {
    .banner-slider {
        height: 51rem;
    }
    .form-banner input {
        height: 50px;
    }
    .about-me {
        height: 51rem;
    }
    .platillos {
        height: 51rem;
    }
    .delivery {
        height: 51rem;
    }
    .clientes {
        height: 51rem;
    }
    .login {
        height: 51rem;
    }
    footer {
        height: 51rem;
    }
}

@media screen and (min-width: 390px) {
    .banner-slider {
        height: 53rem;
    }
    .slide2-banner {
        padding-top: 0rem;
    }
    .form-banner input {
        height: 55px;
    }
    .about-me {
        height: 53rem;
    }
    .platillos {
        height: 53rem;
    }
    .delivery {
        height: 53rem;
    }
    .delivery-text p {
        font-size: 2.5rem;
    }
    .clientes {
        height: 53rem;
    }
    .cliente {
        width: 80%;
    }
    .cliente h2 {
        font-size: 25px;
        margin-top: 0.5rem;
    }

    .cliente p {
        font-size: 20px;
        margin: 0.5rem;
    }

    .redonda {
        width: 100px;
        border-radius: 300px;
    }
    .login {
        height: 53rem;
    }
    footer {
        height: 53rem;
    }
}

@media screen and (min-width: 412px) {
    .banner-slider {
        height: 58rem;
    }
    .slide1-banner p {
        font-size: 2.5rem;
    }
    #boton-slide1 {
        font-size: 2rem;
        margin-top: 4rem;
    }
    .slide2-banner {
        padding-top: 0rem;
    }
    .form-banner input {
        height: 60px;
    }
    .about-me {
        height: 58rem;
    }
    .texto-about1 {
        font-size: 1.7rem;
    }
    .platillos {
        height: 58rem;
    }
    .platillos-content h2 {
        margin-top: 8rem;
    }
    .delivery {
        height: 58rem;
    }
    .delivery-text h2 {
        margin-top: 4rem;
        font-size: 3rem;
    }
    .delivery-text p {
        font-size: 2rem;
    }
    .clientes {
        height: 58rem;
    }
    .cliente h2 {
        font-size: 2rem;
    }
    .cliente p {
        font-size: 1.5rem;
    }
    .redonda {
        width: 120px;
    }
    .login {
        height: 58rem;
    }
    .login .slide3-cliente .a-sh {
        margin-bottom: 4rem;
    }
    footer {
        height: 58rem;
    }
}

@media screen and (min-width: 768px) {
    .aviso h2 {
        font-size: 45px;
    }
    .aviso p {
        margin-top: 2rem;
        font-size: 38px;
    }
    .Clientes h2 {
        font-size: 45px
    }
    nav img {
        width: 150px;
    }
    nav.sticky {
        height: 90px;
    }
    .nav-menu li a {
        font-size: 2rem;
    }
    .bar-btn {
        margin: 4rem;
        font-size: 45px;
    }
    .banner-slider {
        height: 64rem;
    }
    .slide1-banner p {
        font-size: 4rem;
    }
    .slide2-banner {
        padding-top: 0rem;
    }
    .form-banner h2 {
        font-size: 4rem;
    }
    .form-banner input {
        height: 70px;
    }
    .about-me {
        height: 64rem;
    }
    .texto-about1 {
        font-size: 2rem;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 50px;
        text-align: center;
    }
    .texto-about2 {
        font-size: 2rem;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 50px;
    }
    .img-about {
        width: 50%;
        height: 100%;
    }
    .img-about img {
        width: 100%;
        object-fit: cover;
    }
    .platillos {
        height: 64rem;
    }
    .platillos-content h2 {
        margin-top: 7rem;
        font-size: 4rem;
    }
    .carrusel-container {
        width: 84%;
        margin-top: 6rem;
    }
    .flecha-iz,
    .flecha-de {
        bottom: 160px;
    }
    .flecha-iz {
        left: 15px;
    }
    .flecha-de {
        right: 15px;
    }
    .item-c h3 {
        font-size: 4rem;
        margin-top: 0.5rem;
    }
    .delivery {
        height: 64rem;
    }
    .delivery-text h2 {
        margin-top: 6rem;
        font-size: 3rem;
    }
    .delivery-text p {
        font-size: 2.5rem;
    }
    .clientes {
        height: 64rem;
    }
    .cliente h2 {
        font-size: 40px;
        margin-top: 0.5rem;
    }

    .cliente p {
        font-size: 25px;
        margin: 1rem;
    }
    .about1,
    .about2 {
        flex-direction: row;
    }
    .redonda {
        width: 170px;
    }
    .login {
        height: 64rem;
    }
    .form-banner-slider {
        margin: 0;
    }
    .form-banner input {
        padding: 30px 0;
        font-size: 2rem;
    }
    .form-banner p {
        font-size: 2rem;
    }
    .form-banner-slider {
        margin-bottom: 4rem;
    }
    .form-banner button {
        font-size: 2rem;
    }
    .login .slide3-cliente .a-sh {
        margin-bottom: 1rem;
    }
    footer {
        height: 64rem;
    }
    .contactos p,
    .contactos i {
        font-size: 1.5rem;
    }
    .copyrigth {
        font-size: 1rem;
    }
}

@media screen and (min-width: 810px) {
    .banner-slider {
        height: 68rem;
    }

    .slide2-banner {
        padding-top: 60rem;
    }
    .form-banner input {
        height: 80px;
        font-size: 45px;
    }
    .form-banner button {
        font-size: 40px;
    }
    .about-me {
        height: 68rem;
    }
    .texto-about1 {
        font-size: 2rem;
    }
    .platillos {
        height: 68rem;
    }
    .platillos-content h2 {
        font-size: 4rem;
        margin-top: 7rem;
    }
    .line {
        width: 80%;
    }
    .delivery {
        height: 68rem;
    }
    .delivery-text h2 {
        font-size: 3rem;
    }
    .delivery-text p {
        font-size: 3rem;
    }
    .clientes {
        height: 68rem;
    }
    .redonda {
        width: 200px;
    }
    .login {
        height: 68rem;
    }
    .login .slide3-cliente .a-sh {
        margin-bottom: 4rem;
    }
    footer {
        height: 68rem;
    }
}

@media screen and (min-width: 1024px) {
    .aviso h2 {
        font-size: 50px;
    }
    .aviso p {
        margin-top: 2rem;
        font-size: 42px;
    }
    nav {
        height: 80px;
    }
    nav.sticky {
        height: 70px;
    }
    nav img {
        margin-left: 2rem;
        width: 130px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        top: 0px;
        transition: none;
        text-align: right;
        margin-right: 4rem;
        height: 50px;
        background-color: inherit;
        flex-direction: row;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 0;
        margin: 0px 9px;
        transition: none;
    }

    nav img {
        margin-left: 4rem;
    }

    .nav-menu li a {
        font-size: 12px;
    }
    .banner-slider {
        display: flex;
        height: 86rem;
        align-items: center;
        justify-content: center;
    }
    .slide1-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }
    .texto-slide1 {
        width: 80%;
        text-align: center;
    }
    .slide1-banner p {
        font-size: 80px;
    }
    .boton-sh {
        height: auto;
        width: 40%;
    }
    .boton-sh p {
        font-size: 40px;
    }
    .slide2-banner {
        padding-top: 0rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .form-banner-slider {
        width: 80%;
        text-align: center;
        padding: 15px 0px;
        margin-bottom: 4;
        margin-top: 5rem;
    }
    .form-banner h2 {
        font-size: 50px;
    }
    .form-banner input {
        text-align: center;
        width: 70%;
        font-size: 25px;
        margin-bottom: 0.8rem;
    }
    .form-banner button {
        font-size: 25px;
        height: 70px;
        margin-bottom: 2rem;
    }
    .about-me {
        height: 43rem;
    }
    .texto-about1 {
        text-align: left;
    }
    .texto-about2 {
        text-align: right;
    }
    .platillos {
        height: 43rem;
    }
    .platillos-content h2 {
        font-size: 35px;
        margin: 0;
    }
    .line {
        height: 10px;
        width: 300px;
        margin-top: 1rem;
    }
    .carrusel-container {
        width: 80%;
        margin-top: 1rem;
    }
    .flecha-iz,
    .flecha-de {
        font-size: 60px;
        padding: 20px;
        bottom: 8rem;
    }
    .item-c {
        height: 25rem;
    }
    .item-c .img-contenedor {
        height: 80%;
    }
    .item-c h3 {
        font-size: 40px;
    }
    .delivery {
        height: 43rem;
        display: flex;
        flex-direction: row;
    }
    .img-delivery,
    .delivery-text {
        width: 50%;
        height: 100%;
        padding: 3rem;
    }
    .img-delivery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .delivery-text h2 {
        font-size: 40px;
    }

    .delivery-text p {
        font-size: 40px;
    }
    .clientes {
        height: 43rem;
        display: flex;
        flex-direction: row;
    }
    .cliente h2 {
        font-size: 40px;
        margin-top: 0.5rem;
    }
    .cliente p {
        font-size: 25px;
        margin: 0.5rem;
    }
    .redonda {
        width: 150px;
        border-radius: 300px;
    }
    .login {
        height: 86rem;
    }
    .slide2-menu {
        display: flex;
        flex-direction: row;
        height: 1005;
    }
    .Clientes {
        height: 100%;
    }
    .slide2-menu {
        width: 103%;
        height: 100%;
    }
    .Clientes {
        width: 100%;
        height: 100%;
    }
    .slide3-cliente {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
    }

    footer {
        height: 86rem;
        display: flex;
        flex-direction: row;
    }
    .footer-img {
        height: 100%;
        width: 50%;
        display: block;
    }
    .footer-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .footer-text {
        width: 50%;
    }

    .logo-img {
        height: 60%;
    }

    .logo-img img {
        width: 60%;
    }
    .contactos p {
        font-size: 15px;
    }
    .contactos-logo {
        display: flex;
        justify-content: center;
        width: 90%;
        margin-bottom: 1rem;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.74);
    }
    .copyrigth p {
        width: 95%;
    }
}

@media screen and (min-width: 1240px) {
    .boton-sh {
        margin-bottom: 8rem;
    }

    .nav-menu li a {
        font-size: 16px;
    }
    .banner-slider {
        height: 50rem;
    }
    .slide1-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 0;
    }
    .texto-slide1 {
        width: 50%;
        text-align: left;
    }
    .slide1-banner p {
        font-size: 60px;
    }
    .boton-sh {
        height: 100%;
        width: 40%;
    }
    .slide2-banner {
        padding-top: 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    .form-banner-slider {
        width: 45%;
        text-align: center;
        padding: 15px 0px;
        margin-bottom: 0;
        margin-top: 5rem;
    }
    .form-banner h2 {
        font-size: 40px;
    }
    .form-banner input {
        text-align: center;
        width: 70%;
        font-size: 25px;
        margin-bottom: 0.8rem;
        height: 70px;
    }
    .form-banner button {
        font-size: 25px;
        height: 40px;
        padding: 0;
        height: 60px;
    }
    .about-me {
        height: 50rem;
    }
    .platillos {
        height: 50rem;
    }
    .platillos-content h2 {
        font-size: 40px;
        margin-top: 5rem;
    }
    .delivery {
        height: 50rem;
        display: flex;
        flex-direction: row;
    }
    .delivery-text {
        height: auto;
    }
    .img-delivery {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .img-delivery img {
        height: 70%;
    }
    .delivery-text h2 {
        font-size: 50px;
    }

    .delivery-text p {
        font-size: 45px;
    }
    .clientes {
        height: 50rem;
        display: flex;
        flex-direction: row;
    }
    .cliente h2 {
        font-size: 40px;
        margin-top: 0.5rem;
    }
    .cliente p {
        font-size: 30px;
        margin: 0.5rem;
    }
    .redonda {
        width: 200px;
        border-radius: 300px;
    }
    .login {
        height: 50rem;
    }
    .slide2-menu {
        display: flex;
        flex-direction: row;
        height: 1005;
    }
    .Clientes {
        height: 100%;
    }
    .slide3-cliente {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 0;
    }
    footer {
        height: 50rem;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .aviso h2 {
        font-size: 58px;
    }
    .aviso p {
        margin-top: 2rem;
        font-size: 48px;
    }
    .nav-menu li a {
        font-size: 20px;
    }
    .banner-slider {
        height: 57rem;
    }
    .about-me {
        height: 57rem;
    }
    .texto-about1,
    .texto-about2 {
        font-size: 45px;
    }
    .platillos {
        height: 57rem;
    }
    .item-c {
        height: 30rem;
    }
    .platillos-content h2 {
        font-size: 40px;
        margin-top: 7rem;
    }
    .flecha-de,
    .flecha-iz {
        bottom: 200px;
    }
    .delivery {
        height: 57rem;
    }
    .delivery-text h2 {
        font-size: 55px;
    }

    .delivery-text p {
        font-size: 50px;
    }
    .clientes {
        height: 57rem;
    }
    .login {
        height: 57rem;
    }
    footer {
        height: 57rem;
        display: flex;
        flex-direction: row;
    }
}
